# Configuración de API REST
API_BASE_URL=http://localhost:3000
API_KEY=test-key
API_TIMEOUT=60000


# Configuración del Directorio de Archivos
EXCEL_DIRECTORY=./excel-files
PROCESSED_DIRECTORY=./processed-files
ERROR_DIRECTORY=./error-files

# Configuración de Base de Datos SQLite
SQLITE_DB_PATH=./processed-db/processed_ids.db

# Configuración de Logs

LOG_FILE=./logs/app.log
LOG_MAX_SIZE=5242880
LOG_MAX_FILES=5


# Configuración de Limpieza Automática de Consola
# Número máximo de logs antes de limpiar la terminal
CONSOLE_CLEAN_MAX_LOGS=100
# Intervalo en milisegundos para limpieza automática por tiempo
CONSOLE_CLEAN_INTERVAL=30000


